# Python cache
__pycache__
*.pyc

._*
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup

.com.apple.timemachine.supported
.homekit.state
.DS_Store
known_devices.yaml
entity_registry.yaml
secrets.yaml

.cloud
appdaemon
deps
tts
www
*.db-shm
*.db-wal
