# Python cache
__pycache__
*.pyc

._*
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup

.com.apple.timemachine.supported
.homekit.state
.DS_Store
known_devices.yaml
secrets.yaml
*.db-shm
*.db-wal

# directories
.cloud
.storage
#custom_components
custom_components_tmp
deps
tts
www
