homeassistant:
  # Name of the location where Home Assistant is running
  name: Lawrence Home Automation
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 175.87
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Chicago
  # Customization file
  #customize: !include customize.yaml
  # Packages directory
  packages: !include_dir_named packages

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  api_password: !secret ha_password
  base_url: !secret ha_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

# Discover some devices automatically
discovery:
  ignore:
   - samsung_tv
   - directv
   - plex_mediaserver
   - google_cast

# Enable ios app
ios:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Enable Homekit
#homekit:
#  pincode: '128-87-260'

# Enable Python scripts
python_script:

# enable weather
weather:
  - platform: yweather

# climate
climate:
  platform: nest

# enable Haiku with SenseMe ceiling fans
senseme:
  max_number_fans: 2
  # include:
  #   - "Studio Vault Fan"
  #   - "Studio Beam Fan"
  exclude:
    - "Studio Beam Fan"

# nest
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

# ISY-994i integration
isy994:
  host: http://192.168.1.203:80
  username: !secret isy_username
  password: !secret isy_password
  enable_climate: false
  #tls: 1.2

# Enable MQTT
mqtt:
  broker: core-mosquitto
  discovery: true
  discovery_prefix: hass

# Google Text to Speech
tts:
  - platform: google

# Cloud
cloud:

device_tracker:
  # Unifi device tracker configuration
  - platform: unifi
    host: 192.168.1.2
    username: !secret unifi_username
    password: !secret unifi_password
    verify_ssl: false
    interval_seconds: 10
    consider_home: 300
    track_new_devices: no

# recorder configuration
recorder:
  purge_keep_days: 15
  purge_interval: 1
  exclude:
    domains:
      - automation
      - weblink
      - updater
    entities:
      - sun.sun
      - sensor.date

sensor:
  - platform: yr
